<div class="d-flex flex-column align-items-center">
  <h2>Account Login</h2>
  <form action="/" method="POST">
    <div class="input-group mt-4" style="width:20rem;">
      <input type="email" class="form-control" placeholder="Email" name="Email" required>
    </div>
    <div class="input-group mt-4" style="width:20rem;">
      <input type="password" class="form-control" placeholder="Password" name="Password" required>
    </div>
    <div class="input-group-append mt-4 m-auto" align="center">
      <button type="submit" class="btn btn-dark ">Login</button>
    </div>
  </form>
</div>